__pycache__/
*.pyc
*.pyd
.venv/
env/
venv/
Scripts/
Lib/
site-packages/
dist/
build/
eggs/
.pytest_cache/
.coverage
htmlcov/
.tox/
notebooks/.ipynb_checkpoints

*.db

.DS_Store
.vscode/
*.swp
*.swo
.idea/
